*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*#region utilities*/

.col_1{
    width: calc(100% / 12 * 8);
}

.col_2{
    width: calc(100% / 12 * 4);
}

/*#region utilities*/

/*#region nav*/

#site_header{
    background-color: aqua;
}

nav{
    padding: 1rem;
}

.nav_bar{
    padding: 0.5rem;
    width: 80%;
    background-color: orange;
    margin: auto;
    
}

.nav_row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul>li{
    display: inline-block;
    margin-left: 40px;
    
}

li>a{
    text-decoration: none;
}
/*#endregion nav*/

/*#main*/

#download{
    background-color: blue;
    display: flex;
}

.description{
    width: 60%;
    height: 400px;
    margin: auto;
    background-color: violet;
    margin-top: 40px;
    margin-bottom: 40px;
}


#info{
    background-color: rgb(255, 208, 208);
    display: flex;
}

.description_2{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.part_1{
    height: 400px;
    background-color: lightblue;
}

.part_2{
    height: 400px;
    background-color: pink
}
/*#endmain*/


    